<IfModule mod_rewrite.c> 
    Options +FollowSymlinks
    RewriteEngine On
    DirectoryIndex api.php
    FallbackResource index.php

    RewriteCond %{REQUEST_URI} ^/api
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteCond %{QUERY_STRING} ^(.*)$
    RewriteRule ^api/([^/]+)$ /api/api.php?endpoint=$1%1 [QSA,L]
    RewriteRule ^api/([^/]+)/([^/]+)$ /api/api.php?endpoint=$1&id=$2 [QSA,L]
    RewriteRule ^api/([^/]+)/([^/]+)/([^/]+)/?$  /api/api.php?endpoint=$1&id=$2&endpoint2=$3 [QSA,L]
    #Disgard tokens after 3rd token
    RewriteRule ^api/([^/]+)/([^/]+)/([^/]+)/(.*)$  /api/api.php?endpoint=$1&id=$2&endpoint2=$3%1 [QSA,L]
</IfModule>   