<md-content ng-controller="CreateActionController" ng-init="init" layout-padding="" ng-cloak="">
    <init-data />
    <div flex-gt-xs>
        <md-input-container>
          <label>Assignor</label>
          <md-select placeholder="Assignor" ng-model="user.name" style="min-width: 200px;">
             <md-option ng-value="$index" ng-model="user" ng-repeat="user in users" ng-model-options="{trackBy: 'user.userid'}">{{user.name}}</md-option>
          </md-select>
        </md-input-container>
    </div>
    <div flex-gt-xs>
       <md-input-container>
        <label>Original Due Date</label>
      <md-datepicker ng-model="dueDate" md-min-date="today" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
    </md-input-container>
       <md-input-container>
            <label>ECD</label>
            <md-datepicker ng-model="ecd" md-min-date="today" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
      </md-input-container>
    </div>
    <md-input-container>
      <label>Criticality</label>
      <md-select ng-model="criticality" style="min-width: 200px">
        <md-option ng-repeat="criticality in criticalitylevels" ng-model-options="{trackBy: 'criticality.level'}" ng-value="criticality">
          {{criticality.level}}
        </md-option>
      </md-select>
    </md-input-container>
    <div flex-gt-xs>
         <md-input-container>
          <label>Owner</label>
          <md-select placeholder="Owner" ng-model="user.name" style="min-width: 200px;">
             <md-option ng-value="$index" ng-model="user" ng-repeat="user in users" ng-model-options="{trackBy: 'user.userid'}">{{user.name}}</md-option>
          </md-select>
        </md-input-container>
    </div>
    <div flex-gt-xs>
         <md-input-container>
          <label>Alt Owner</label>
          <md-select placeholder="Alt Owner" ng-model="user.name" style="min-width: 200px;">
             <md-option ng-value="$index" ng-model="user" ng-repeat="user in users" ng-model-options="{trackBy: 'user.userid'}">{{user.name}}</md-option>
          </md-select>
        </md-input-container>
    </div>
</md-content>
