md-md-select-value,
md-input-container.dropdown{
    left: 8px !important;
}

.text-input {
    padding-left: 8px !important;
}

._md-datepicker-floating-label > 
  label{
    width: calc(100% - 32px) !important;
}

._md-datepicker-floating-label > 
  md-datepicker .md-datepicker-input-container{
    width: 132px !important;
}

.text-input,
textarea{
    width: 500px !important;
}

md-input-container{
    padding: 0px !important;
}

label, textarea, input{
    padding-left: 0px !important;
}
.text-input label{
    margin-left: 8px !important;
}
.text-input input{
    margin-left: initial !important;
}  
.textarea-input textarea,
.textarea-input label{
    margin-left: 8px !important;
}

div[ng-message=required]{
    font-size: 10pt !important;
}

.textarea-input div[ng-message=required],
._md-datepicker-floating-label  div[ng-message=required]
{
    margin-left: 10px !important;
}

.text-input div[ng-message=required]{   
    margin-left: 0px !important;
}

.textarea-input textarea{
    min-height: 100px !important;
    max-height: 100px !important;
}

.md-resize-handle{
    cursor: default !important;
}

table.table-condensed thead th {
    background-color: #0038a8 !important;
    font-weight: bold !important;
    font-style: italic !important;
    color: white !important;
    text-align: left !important;
}   

