table:not(.grid)#details tr:not(:first-child) .webix_el_textarea,
table:not(.grid)#details tr:not(:first-child) td.locked > div{
    height: 97px !important;
}
                                         