<div id="formcontainer" ng-app="Risk" ng-controller="CreateRiskController as ctrl" ng-cloak>
    <get-risk></get-risk>
    <div id="mycreateform" class="container" type="space" layout-padding="">     
        <form id="form" name="CreateRisk" role="form" ng-submit="ctrl.valid() && ctrl.submit()" novalidate>
            <table id="details" class="layout" border="1">
                <tr>
                    <td class="label">
                        Title
                    </td>
                    <td class="locked">
                        <div ng-show="ctrl.config.risktitle.done" config="risktitle" webix-ui="risktitle" width="500" height="30" type="text" id="risktitle" name="risktitle"></div>
                    </td>
                </tr>
                <tr>    
                    <td class="label">
                        Risk Statement
                    </td>
                    <td class="locked">
                        <div ng-show="ctrl.config.riskstatement.done" config="riskstatement" webix-ui="riskstatement" width="500" height="97" type="textarea" id="riskstatement" name="riskstatement"></div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Context
                    </td>
                    <td class="locked">
                        <div ng-show="ctrl.config.context.done" config="context" webix-ui="context" width="500" height="97" type="textarea" id="context" name="context"></div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Closure Criteria
                    </td>
                    <td class="locked">
                        <div ng-show="ctrl.config.closurecriteria.done" config="closurecriteria" webix-ui="closurecriteria" width="500" height="97" type="textarea" id="closurecriteria" name="closurecriteria"></div>
                    </td>
                </tr>
            </table>
            <div class="center"<h2>Initial Risk Assessment</h2></div>
            <div class="nested">
                <div class="info">
                    <table id="details" border="1">
                        <tr>
                            <td class="label">
                                Likelihood
                            </td>
                            <td class="locked">
                               <div ng-show="ctrl.config.likelihood.done" config="likelihood"  webix-ui="likelihood" width="30" height="30" type="level" id="likelihood" name="likelihood" maxlength="1"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label" colspan="2">
                                Consequence
                            </td>
                        </tr>
                         <tr>
                            <td class="label margin-left">
                                Technical
                            </td>
                            <td class="locked">
                                <div ng-show="ctrl.config.technical.done" config="technical" webix-ui="technical" width="30" height="30" type="level" id="technical" name="technical" maxlength="1"></div>
                            </td>
                        </tr>
                         <tr>
                            <td class="label margin-left">
                                Schedule
                            </td>
                            <td class="locked">
                                <div ng-show="ctrl.config.schedule.done" config="schedule" webix-ui="schedule" width="30" height="30" type="level" id="schedule" name="schedule" maxlength="1"></div>
                            </td>
                        </tr>
                         <tr>
                            <td class="label margin-left">
                                Cost
                            </td>
                            <td class="locked">
                               <div ng-show="ctrl.config.cost.done" config="cost" webix-ui="cost" width="30" height="30" type="level" id="cost" name="cost" maxlength="1"></div>
                            </td>
                        </tr>
                    </table>
                    <div id="level" name="level"></div>
                </div> 
                &nbsp;&nbsp;  
                <div class="info" ng-if="ctrl.setup.done">
                    <table class="matrix" id="riskmatrix">
                    <tbody>
                    <tr ng-repeat="likelihood in [5,4,3,2,1]">
                            <td ng-if="likelihood == 2" class="vlabel">Likelihood</td>
                            <td ng-if="likelihood != 2"></td>
                            <td class="likelihood">{{likelihood}}</td>
                            <td ng-repeat="consequence in [1,2,3,4,5]" name="risk[{{likelihood}}][{{consequence}}]" ng-model="ctrl.riskMatrix[likelihood][consequence]" ng-class="[ctrl.riskLevel(likelihood,consequence)]"></td>
                    </tr>
                    <tr>
                            <td></td>
                            <td></td>
                            <td ng-repeat="consequence in [1,2,3,4,5]">{{consequence}}</td>
                    </tr>
                    <tr>
                        <td></td><td></td><td colspan="5">Consequence</td> 
                    </tr>  
                    </tbody></table>
                </div>
                 &nbsp;&nbsp;   
            </div>
        <br />
        <div class="center">
            <button id="submit" type="submit" disabled="disabled" class="raised primary">Create Risk</button>
            </br />
            <span ng-bind-html="msg">{{msg}}</span>
        </div>
        </form>
    </div>
</div>