<div id="formcontainer" ng-app="Risk" ng-controller="CreateRiskController as ctrl" ng-cloak>
    <get-risk-config></get-risk-config>
    <get-users></get-users>
    <div id="mycreateform" class="container" type="space" layout-padding="">     
        <center>
        <form id="form" name="CreateRisk" role="form" ng-submit="ctrl.valid() && ctrl.submit()" novalidate>
                <table ng-if="ctrl.usersFetched.done" class="layout" border="1">
                    <tr>
                        <td class="label" bgcolor="#0038a8" style="text-align: left">
                            Title
                        </td>
                        <td class="locked">
                            <!--div ng-show="ctrl.config.risktitle.done" config="risktitle" webix-ui="risktitle" width="500" height="30" type="text" id="risktitle" name="risktitle"></div-->
                            <input type="text" value="{{ctrl.risk.risktitle}}" ng-model="ctrl.risk.risktitle" width="500" height="30" id="risktitle" name="risktitle" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label" bgcolor="#0038a8" style="text-align: left">
                            Risk Owner
                        </td>
                        <td class="locked">
                             <ui-select ng-model="ctrl.riskownerid" theme="select2" title="Choose a person">
                                <ui-select-match placeholder="Select/Search User">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="user.id as user in ctrl.users | propsFilter: {name: $select.search}">
                                  <div ng-bind-html="user.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>    
                        <td class="label" bgcolor="#0038a8" style="text-align: left">
                            Risk Statement
                        </td>
                        <td class="locked">
                            <!--div ng-show="ctrl.config.riskstatement.done" config="riskstatement" webix-ui="riskstatement" width="500" height="97" type="textarea" id="riskstatement" name="riskstatement"></div-->
                            <textarea value="{{ctrl.risk.riskstatement}}" ng-model="ctrl.risk.riskstatement" width="500" height="97" id="riskstatement" name="riskstatement"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="label" bgcolor="#0038a8" style="text-align: left">
                            Context
                        </td>
                        <td class="locked">
                            <!--div ng-show="ctrl.config.context.done" config="context" webix-ui="context" width="500" height="97" type="textarea" id="context" name="context"></div-->
                            <textarea  value="{{ctrl.risk.context}}" ng-model="ctrl.risk.context" id="context" name="context" width="500" height="97"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="label" bgcolor="#0038a8" style="text-align: left">
                            Closure Criteria
                        </td>
                        <td class="locked">
                            <!--div ng-show="ctrl.config.closurecriteria.done" config="closurecriteria" webix-ui="closurecriteria" width="500" height="97" type="textarea" id="closurecriteria" name="closurecriteria"></div-->
                            <textarea value="{{ctrl.risk.closurecriteria}}" ng-model="ctrl.risk.closurecriteria" id="closurecriteria" name="context" width="500" height="97"></textarea>
                    </tr>
                </table>                                                                              
                <div class="center"><h2>Initial Risk Assessment</h2></div>
                <div class="info">
                <table id="details" class="levels" border="1">
                    <tr>
                        <td  bgcolor="#0038a8" class="label">
                            Likelihood
                        </td>
                        <td class="locked">
                           <!--div ng-show="ctrl.config.likelihood.done" config="likelihood"  webix-ui="likelihood" width="30" height="30" type="level" id="likelihood" name="likelihood" maxlength="1"></div-->
                           <input type="text" value="{{ctrl.risk.likelihood}}" ng-keyup="ctrl.DOMops.assignRiskLevel(ctrl, ctrl.risk.likelihood, -1, matrix)" ng-model="ctrl.risk.likelihood" id="likelihood" name="likelihood" class="leveltext" width="30" height="30" />
                        </td>
                    </tr>
                    <tr>
                        <td  bgcolor="#0038a8" class="label" colspan="2">
                            Consequence
                        </td>
                    </tr>
                     <tr>
                        <td  bgcolor="#0038a8" class="label margin-left">
                            Technical
                        </td>
                        <td class="locked">
                            <!--div ng-show="ctrl.config.technical.done" config="technical" webix-ui="technical" width="30" height="30" type="level" id="technical" name="technical" maxlength="1"></div-->
                            <input type="text" value="{{ctrl.risk.technical}}" ng-keyup="ctrl.DOMops.assignRiskLevel(ctrl, ctrl.risk.technical, -1, matrix)" ng-model="ctrl.risk.technical" id="technical" name="technical" class="leveltext" width="30" height="30" />
                        </td>
                    </tr>
                     <tr>
                        <td  bgcolor="#0038a8" class="label margin-left">
                            Schedule
                        </td>
                        <td class="locked">
                            <!--div ng-show="ctrl.config.schedule.done" config="schedule" webix-ui="schedule" width="30" height="30" type="level" id="schedule" name="schedule" maxlength="1"></div-->
                            <input type="text" value="{{ctrl.risk.schedule}}" ng-keyup="ctrl.DOMops.assignRiskLevel(ctrl, ctrl.risk.schedule, -1, matrix)" ng-model="ctrl.risk.schedule" id="schedule" name="schedule" class="leveltext" width="30" height="30" />
                        </td>
                    </tr>
                     <tr>
                        <td  bgcolor="#0038a8" class="label margin-left">
                            Cost
                        </td>
                        <td class="locked">
                           <!--div ng-show="ctrl.config.cost.done" config="cost" webix-ui="cost" width="30" height="30" type="level" id="cost" name="cost" maxlength="1"></div-->
                           <input type="text" value="{{ctrl.risk.cost}}"  ng-keyup="ctrl.DOMops.assignRiskLevel(ctrl, ctrl.risk.cost, -1, matrix)" ng-model="ctrl.risk.cost" id="cost" name="cost" class="leveltext" width="30px" height="30" />
                        </td>
                    </tr>
                </table>
                <div id="level" name="level"></div>
                <br/><br />
                </div>
                &nbsp;&nbsp;  
                <div class="info" ng-if="ctrl.setup.done">
                    <table class="matrix" id="riskmatrix">
                    <tbody>
                    <tr ng-repeat="likelihood in [5,4,3,2,1]">
                            <td ng-if="likelihood == 2" class="vlabel">Likelihood</td>
                            <td ng-if="likelihood != 2"></td>
                            <td class="likelihood">{{likelihood}}</td>
                            <td ng-repeat="consequence in [1,2,3,4,5]" name="risk[{{likelihood}}][{{consequence}}]" ng-model="ctrl.riskMatrix[likelihood][consequence]" ng-class="[ctrl.riskLevel(likelihood,consequence)]"></td>
                    </tr>
                    <tr>
                            <td></td>
                            <td></td>
                            <td ng-repeat="consequence in [1,2,3,4,5]">{{consequence}}</td>
                    </tr>
                    <tr>
                        <td></td><td></td><td colspan="5">Consequence</td> 
                    </tr>  
                    </tbody></table>
                </div>
                 &nbsp;&nbsp;   
            <br />
            <div class="center">
                <button id="submit" type="submit" ng-disabled="!ctrl.valid()" class="raised primary">Create Risk</button>
                </br />
                <span ng-bind-html="msg">{{msg}}</span>
            </div>
    </form>
    </div>
</div>