<div id="formcontainer" ng-app="Risk" ng-controller="CreateRiskController" ng-init="init()">
    <div id="mycreateform" class="container" type="space" layout-padding="" ng-cloak="">   
        <init-risk />
        <form webix-ui="config" id="form" name="CreateRisk" role="form"ng-submit="valid() && submit()" novalidate>
            <table id="details" class="layout" border="1">
                <tr>
                    <td class="label">
                        Title
                    </td>
                    <td class="locked">
                        <div webix-ui="risktitleConfig" id="risktitle" name="risktitle" />
                    </td>
                </tr>
                <tr>    
                    <td class="label">
                        Risk Statement
                    </td>
                    <td class="locked">
                        <div webix-ui="riskstatementConfig" id="riskstatement" name="riskstatement" />
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Context
                    </td>
                    <td class="locked">
                        <div webix-ui="contextConfig" id="context" name="context" />
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Closure Criteria
                    </td>
                    <td class="locked">
                        <div webix-ui="closurecriteriaConfig" id="closurecriteria" name="closurecriteria" />
                    </td>
                </tr>
                 <!--tr class="text">
                        <td class="label">
                            Category
                        </td>
                        <td class="locked">
                             <div id="category" name="category" />
                        </td>
                  </tr-->
            </table>
            <h2>Initial Risk Assessment</h2>
            <div class="nested">
                <div class="info">
                    <table id="details" border="1">
                        <tr>
                            <td class="label">
                                Likelihood
                            </td>
                            <td class="locked">
                                <div webix-ui="likelihoodConfig" id="likelihood" name="likelihood" />
                            </td>
                        </tr>
                        <tr>
                            <td class="label" colspan="2">
                                Consequence
                            </td>
                        </tr>
                         <tr>
                            <td class="label margin-left">
                                Technical
                            </td>
                            <td class="locked">
                                <div webix-ui="technicalConfig" id="technical" name="technical" />
                            </td>
                        </tr>
                         <tr>
                            <td class="label margin-left">
                                Schedule
                            </td>
                            <td class="locked">
                                <div webix-ui="scheduleConfig" id="schedule" name="schedule" />
                            </td>
                        </tr>
                         <tr>
                            <td class="label margin-left">
                                Cost
                            </td>
                            <td class="locked">
                                <div webix-ui="costConfig" id="cost" name="cost" />
                            </td>
                        </tr>
                    </table>
                     <div name="level"></div>
                </div> 
                &nbsp;&nbsp;    
                <div class="info">
                    <table class="matrix" id="riskmatrix">
                    <tbody>
                            <td></td>
                            <td class="likelihood">5</td>
                            <td name="risk[5][1]" ng-model="riskMatrix[5][1]" ng-class="[riskLevel(5,1)]"></td>
                            <td name="risk[5][2]" ng-model="riskMatrix[5][2]" ng-class="[riskLevel(5,2)]"></td>
                            <td name="risk[5][3]" ng-model="riskMatrix[5][3]" ng-class="[riskLevel(5,3)]"></td>
                            <td name="risk[5][4]" ng-model="riskMatrix[5][4]" ng-class="[riskLevel(5,4)]"</td>
                            <td name="risk[5][5]" ng-model="riskMatrix[5][5]" ng-class="[riskLevel(5,5)]"></td>
                    </tr>
                    <tr>
                       <td></td>
                       <td class="likelihood">4</td>
                            <td name="risk[4][1]" ng-model="riskMatrix[4][1]" ng-class="[riskLevel(4,1)]"></td>
                            <td name="risk[4][2]" ng-model="riskMatrix[4][2]" ng-class="[riskLevel(4,2)]"></td>
                            <td name="risk[4][3]" ng-model="riskMatrix[4][3]" ng-class="[riskLevel(4,3)]"></td>
                            <td name="risk[4][4]" ng-model="riskMatrix[4][4]" ng-class="[riskLevel(4,4)]"></td>
                            <td name="risk[4][5]" ng-model="riskMatrix[4][5]" ng-class="[riskLevel(4,5)]"></td>
                    </tr>
                    <tr>
                       <td></td>
                       <td class="likelihood">3</td>
                            <td name="risk[3][1]" ng-model="riskMatrix[3][1]" ng-class="[riskLevel(3,1)]"></td>
                            <td name="risk[3][2]" ng-model="riskMatrix[3][2]" ng-class="[riskLevel(3,2)]"></td>
                            <td name="risk[3][3]" ng-model="riskMatrix[3][3]" ng-class="[riskLevel(3,3)]"></td>
                            <td name="risk[3][4]" ng-model="riskMatrix[3][4]" ng-class="[riskLevel(3,4)]"></td>
                            <td name="risk[3][5]" ng-model="riskMatrix[3][5]" ng-class="[riskLevel(3,5)]"></td>
                    </tr>
                    <tr>
                        <td class="vlabel">Likelihood</td>
                       <td class="likelihood">2</td>
                            <td name="risk[2][1]" ng-model="riskMatrix[2][1]" ng-class="[riskLevel(2,1)]"></td>
                            <td name="risk[2][2]" ng-model="riskMatrix[2][2]" ng-class="[riskLevel(2,2)]"></td>
                            <td name="risk[2][3]" ng-model="riskMatrix[2][3]" ng-class="[riskLevel(2,3)]"></td>
                            <td name="risk[2][4]" ng-model="riskMatrix[2][4]" ng-class="[riskLevel(2,4)]"></td>
                            <td name="risk[2][5]" ng-model="riskMatrix[2][5]" ng-class="[riskLevel(2,5)]"></td>
                    </tr>
                    <tr>
                        <td></td>
                       <td class="likelihood">1</td>
                            <td name="risk[1][1]"  ng-model="riskMatrix[1][1]" ng-class="[riskLevel(1,1)]"></td>
                            <td name="risk[1][2]"  ng-model="riskMatrix[1][2]" ng-class="[riskLevel(1,2)]"></td>
                            <td name="risk[1][3]"  ng-model="riskMatrix[1][3]" ng-class="[riskLevel(1,3)]"></td>
                            <td name="risk[1][4]"  ng-model="riskMatrix[1][4]" ng-class="[riskLevel(1,4)]"></td>
                            <td name="risk[1][5]"  ng-model="riskMatrix[1][5]" ng-class="[riskLevel(1,5)]"></td>
                       
                    </tr>
                    <tr>
                            <td></td>
                            <td></td>
                             <td>1</td>
                             <td>2</td>
                             <td>3</td>
                             <td>4</td>
                             <td>5</td>
                       </tr>
                    <tr>
                    <td></td><td></td><td colspan="5">Consequence</td> 
                    </tr>  
                    </tbody></table>
                </div>
                 &nbsp;&nbsp;   
            </div>
        <divider></divider>
        <div>
            <div>
              <button id="submit" type="submit" disabled="disabled" class="raised primary">Create Risk</button>
            </div>
        </div>
        <div>
          <div class="msg" layout-align="center">
            <span ng-bind-html="msg">{{msg}}</span>
          </div>
        </div>
        </form>
    </div>
</div>