.td[name=actuallevel], .td[name=schdeduledlevel], .td[name=baselinelevel]{
    text-align: center !important;
    width:  25px;
}

.tbl.events td.cell{
    text-align: left !important;
}
     
.th.header{
    background-color: #0038a8 !important;
    font-weight: bold !important;
    font-style: italic !important;
    color: white !important;
    text-align: left !important;
}

div.nopadding{
    padding: 0px;
}

@media only screen and (min-width: 801px){
    

    
    div.select2{
        width: 196px !important;
    }
     
    div.widthAuto{
        width: 100% !important;
    }
    
    div.width50{
        width: 50px !important;
        display: inline-block;
    }
    
    .td.header{
        display: none !important;
        width: 0px;
        border: none;
    }
    
    input.date-input{
        width: 111px;
        margin-top: 3px !important;
    }
    
    input.level{
        width: 35px;
        height:  30px;
        text-align: center;
    }   

    input.title{
        width: 160px;
        height: 30px;
        margin-top: 3px;
    }
    
    .tbl#summary .td.label, .td.locked{
        width: 25%;
    }
    
    .tbl#summary .td.label,
    .tbl#details .td.label {
        background-color: #0038a8 !important;
        font-weight: bold !important;
        font-style: italic !important;
        color: white !important;
        text-align: left !important;
    }

    .tbl.layout#details > .tr:not(:first-child):not(.text) > .td.read > div
    {
        height: 97px !important;
        max-height: 97px !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
 
    .tbl.layout#details > .tr:not(:first-child):not(.text) > .td.label
    {
        padding: 1px;
        height: 97px;
        width: 200px;
    }


    .tbl.layout#details > .td:nth-child(1){
        width: 150px;
    }

    .tbl.layout#information > .tr  > .td
    {
        height:  23px !important;
    }
    .tbl.layout#categories >  .tr >  .td
    {
        height: 23px !important;
    }
                      
    .tbl.layout#summary >  .td.locked
    {
        vertical-align: middle !important;
        color: black;
        width: 140px !important;
        text-align: left;
    }


    .tbl.layout#details   .tr:not(:first-child):not(.text)   .td.locked  div{
        height: 97px !important;
    }
                                             
    .tbl.layout#details{
        width: 650px;
        max-width: 650px !important;
    }

    .tbl.layout#details .td.label{
        width: 10%;   
    }

    .tbl.layout#summary{
        width: 650px;
        max-width: 555px !important;
    }
   
 
    .tbl.events .tr .th:nth-child(2), 
    .tbl.events .tr .td:nth-child(2){
        max-width: 10px !i;
        min-width: 10px !important;
    }
    
     .tbl.events   .tr   .th:nth-child(4),
    .tbl.events     .tr   .td:nth-child(4){
        max-width: 112px !important;
        min-width: 112px !important;
    }

    .tbl.events   .tr   .th:nth-child(6),
    .tbl.events     .tr   .td:nth-child(6){
        max-width: 137px !important;
        min-width: 137px !important;
    }


    .tbl.events .tr   .th:nth-child(8),
    .tbl.events   .tr  .td:nth-child(8){
        max-width: 100px !important;
        min-width: 100px !important;
    }
    
      .tbl.events   .tr   .th:nth-child(10),
    .tbl.events     .tr   .td:nth-child(10){
        max-width: 40px !important;
        min-width: 40px !important;
        text-align: center;
    }

    .tbl.events   .tr   .th:nth-child(12),
    .tbl.events     .tr   .td:nth-child(12){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    }


    .tbl.events   .tr   .th:nth-child(14),
    .tbl.events     .tr   .td:nth-child(14){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    }

    .tbl.events   .tr   .th:nth-child(16),
    .tbl.events     .tr   .td:nth-child(16){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    }       
    .tbl.events   .tr   .th:nth-child(18),
    .tbl.events     .tr   .td:nth-child(18){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    }                                     
    
    .tbl.events   .tr   .th:nth-child(20),
    .tbl.events    .tr   .td:nth-child(20){
        max-width: 100px !important;
        min-width: 100px !important;
    }
    
        
      .tbl.events   .tr   .th:nth-child(22),
    .tbl.events     .tr   .td:nth-child(22){
        /* max-width: 40px !important; */
        min-width: 40px !important;
        text-align: center;
    }

    .tbl.events   .tr   .th:nth-child(24),
    .tbl.events     .tr   .td:nth-child(24){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    }


    .tbl.events   .tr   .th:nth-child(26),
    .tbl.events     .tr   .td:nth-child(26){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    }

    .tbl.events   .tr   .th:nth-child(28),
    .tbl.events     .tr   .td:nth-child(28){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    }       
    .tbl.events   .tr   .th:nth-child(30),
    .tbl.events     .tr   .td:nth-child(30){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    }  
    
    .tbl.events   .tr   .th:nth-child(32),
    .tbl.events    .tr   .td:nth-child(32){
        max-width: 100px !important;
        min-width: 100px !important;
    }
    
          .tbl.events   .tr   .th:nth-child(34),
    .tbl.events     .tr   .td:nth-child(34){
        max-width: 40px !important;
        min-width: 40px !important;
        text-align: center;
    }

    .tbl.events   .tr   .th:nth-child(36),
    .tbl.events     .tr   .td:nth-child(36){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    }


    .tbl.events   .tr   .th:nth-child(38),
    .tbl.events     .tr   .td:nth-child(38){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    }

    .tbl.events   .tr   .th:nth-child(40),
    .tbl.events     .tr   .td:nth-child(40){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    }       
    .tbl.events   .tr   .th:nth-child(42),
    .tbl.events     .tr   .td:nth-child(42){
        max-width: 27.5px !important;
        min-width: 27.5px !important;
    } 

    
    .tbl.events   .tr   .th:nth-child(48),
    .tbl.events     .tr   .td:nth-child(48){
        max-width: 50.5px !important;
        min-width: 50.5px !important;
    }


    .tbl{
        display: table !important;
        width: 1650px !important;
        margin: 0 auto !important;
    }
    
    .tr {
        display: table-row !important;
        width: 100%;
        height:  39px !important;
    }
    
    .td, .th{
        display: table-cell !important;
        text-align: left !important;
        border: 0.5px solid black;
        padding-left: 3px;
        vertical-align: middle;
    }
    
    .td div{
        /* text-align: left; */
    }
    
    p.input-group{
        width: 74px !important;
    }
    
    .th.placeholder{
        border:  none !important;
        display: none !important;
    }
 
}     


   

@media only screen and (max-width: 800px) {

    .td.locked{
        text-align: left !important;
    }  
           
    div.width200{
        width: 200px !important;  
    }

    .tbl.events   .tr  .td.header,
    .tbl.events   .tr  .td.value,
    .tbl.events   .tr  .td[name="actuallevel"],
    .tbl.events   .tr  .td[name="baselinelevel"],
    .tbl.events   .tr  .td[name="scheduledlevel"],
    .tbl.events   .tr  .td.left{
        width: 200px !important;
        height: 32px;
    }
    
    div.nested table#details > tr:not(:nth-child(2)) > td:first-child{
        width: 400px;
    }
    
    div.nested div.info{
        margin-left: 0;
    }
      
    div.nested table#details,
    div.nested div#level{
        width: 151px !important;
        margin-left: 35px;
    }
    
    div#level{
        height: 24px;
        margin-bottom: 10px;
    }

    .tbl#summary > .td.label,
    .tbl#details > .td.label,
    .tbl.events > .td.header{
        background-color: #0038a8 !important;
        font-weight: bold !important;
        font-style: italic !important;
        color: white !important;
        text-align: left !important;
    }    

    /* Force table to not be like tables anymore */    
    .tbl{
        display: block !important;
        width: 100% !important;
    }

    
    .tbl .td.header, .tbl .td.label{
        background-color: #0038a8 !important;
        font-weight: bold !important;
        font-style: italic !important;
        color: white !important;
        text-align: right !important;
    }
    
    .th.header{
        display: none !important;
    }
    
    .tbl.events{
        width: 100%;
    }
    
    .tbl .td input[type='search']{
        width: 100%;
    }
    
    .tbl.events .td.header,
    .tbl.events .td.value,
    .tbl#details .td.label,
    .tbl#details .td.locked,
    .tbl#summary .td.label,
    .tbl#summary .td.locked
    {
        display: inline-block;
        min-width: 40vw !important;
        width: 100px;
        height: 1;
    }

   
    div.ui-view form {
        width: 95% !important;
        padding: 0px !important;
        /* padding-right: 5vw; */
        margin:  0 auto;
    }
    
    input, textarea{
        width: 100% !important; 
    }                           
     
    .tbl#details >  .tr:not(:first-child) > .td.label{
        height: 23px !important;
    }
    
    input.date-input{
        width: 190px;
    }

    

    
    .select2-container,
    .select2-drop,
    .select2-search,
    .select2-search input{
        width: 100%;
    }
} 


.select2-result-label > div{
    text-align: left;
}

.select2-chosen{
    text-align: left;
}

.select2-search{
    width: 100%;
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}
/* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
.select-box {
  background: #fff;
  position: relative;
  z-index: 1;
}
.alert-info.positioned {
  margin-top: 1em;
  position: relative;
  z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
}

     
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  

.fa-svg-icon > svg {
    position: relative;
    top: 0px;
    left: 0px;
    width: 26px;
    height: 26px;
}

p.input-group{
    text-align: left;
}