<div id="formcontainer" ng-app="Risk" ng-controller="EditRiskController as ctrl" ng-init="ctrl.fetchRisk('first')">
    <div ng-if="ctrl.initDone && ctrl.userDone" id="myeditform" type="space" layout-padding="" ng-cloak="">   
        <form id="form" name="EditRisk" role="form" ng-submit="ctrl.valid() && ctrl.submit()" novalidate>
            <div class="layout">
                    <center>
                        <input type="button" value="First" ng-click="ctrl.fetchRisk('first')"/>&nbsp;
                        <input type="button" value="Prev"  ng-click="ctrl.fetchRisk('prev')"/>&nbsp;
                        <input type="button" value="Next" ng-click="ctrl.fetchRisk('next')">&nbsp;
                        <input type="button" value="Last" ng-click="ctrl.fetchRisk('last')">
                    </center>
                    <br />
                    <h2>Edit Risk Details</h2>
                    <div id="summary" class="tbl layout" border="1">
                        <div class="tr">
                            <div class="td label">Risk #</div>
                            <div class="td locked">{{ctrl.risk.riskid}}</div>
                            <div class="td label">
                                Current Risk
                            </div>
                            <div class="td locked {{ctrl.risk.level.cls}}">
                                {{ctrl.risk.level.level}}
                            </div>
                        </div>   
                         <div class="tr">
                            <div class="td label">
                                Creator
                            </div>
                            <div class="td locked">
                                Admin
                            </div>
                           
                             <div class="td label">
                                Risk State
                            </div>
                            <div class="td locked">
                               Open
                            </div>
                           
                        </div>            
                        <div class="tr">
                            <div class="td label">
                                Owner
                            </div>
                            <div class="td locked">
                                 <ui-select ng-model="ctrl.risk.owner" theme="select2" ng-disabled="ctrl.disabled" style="max-width: 100%" title="Choose a person">
                                    <ui-select-match placeholder="Select/Search User">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="user.id as user in ctrl.users | propsFilter: {name: $select.search}">
                                      <div ng-bind-html="user.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                             <div class="td label">
                                Risk Approver
                            </div>
                            <div class="td locked">
                                <ui-select ng-model="ctrl.risk.approver" theme="select2" ng-disabled="ctrl.disabled" style="max-width: 100%" title="Choose a person">
                                    <ui-select-match placeholder="Select/Search User">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="user.id as user in ctrl.users | propsFilter: {name: $select.search}">
                                      <div ng-bind-html="user.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <br /> 
                    <br />
                    <h2>Edit Risk Information</h2>
                    <div id="details" class="tbl layout" border="1">
                        <div class="tr">
                            <div class="td label" style="vertical-align: top">
                                Title
                            </div>
                            <div class="td locked">
                                <input type="text" value="{{ctrl.risk.risktitle}}" ng-model="ctrl.risk.risktitle" />
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td label" style="vertical-align: top">
                                Risk Statement
                            </div>
                            <div class="td locked" style="vertical-align: top">
                                <textarea value="{{ctrl.risk.riskstatement}}" ng-model="ctrl.risk.riskstatement" />
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td label" style="vertical-align: top">
                                Context
                            </div>
                            <div class="td locked" style="vertical-align: top">
                                <textarea value="{{ctrl.risk.context}}" ng-model="ctrl.risk.context" />
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td label" style="vertical-align: top">
                                Closure Criteria
                            </div>
                            <div class="td locked" style=" vertical-align: top">
                                <textarea value="{{ctrl.risk.closurecriteria}}" ng-model="ctrl.risk.closurecriteria" />
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td label" style="vertical-align: top">
                                Owner Notes
                            </div>
                            <div class="td locked" style=" vertical-align: top">
                                <textarea value="{{ctrl.risk.ownernotes}}" ng-model="ctrl.risk.ownernotes" />
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td label" style="vertical-align: top">
                                Approver Comments
                            </div>
                            <div class="td locked" style=" vertical-align: top">
                                <!--div ng-show="ctrl.config.approvercomments.done" config="approvercomments" webix-ui="approvercomments" width="500" height="97" type="textarea" id="approvercomments" name="approvercomments"></div-->
                                 <textarea value="{{ctrl.risk.approvercomments}}" ng-model="ctrl.risk.approvercomments" />
                            </div>
                        </div>
                    </div>
                   <div class="center">
                        <button id="submit" type="submit">Edit Risk</button>
                   </div>       
        </form>
            <br />
                <h2>Create Mitigation Events</h2>
         <form id="formEvt" name="EditEvents" role="form" ng-submit="ctrl.saveEvents()" novalidate>  
            <div cellpadding='0' cellspacing='0' class="tbl events tbl-condensed" border=1>
                <div class="tbl">
                    <div class="tr">
                            <div class="th placeholder">
                            
                            </div>
                            <div class="th header">
                                #
                            </div>
                            <div class="th placeholder">
                            
                            </div>
                            <div class="th header">
                                Event Title
                            </div>
                            <div class="th placeholder">
                            
                            </div>
                            <div class="th header">
                                Event Owner
                            </div>
                            <div class="th placeholder">
                            
                            </div>
                            <div class="th header">
                                Actual Date
                            </div>
                            <div class="th placeholder">
                            
                            </div>
                            <div class="th header">
                                Sched Date
                            </div>
                            <div class="th placeholder">
                            
                            </div>
                            <div class="th header">
                                Risk
                            </div>
                            <div class="th placeholder">
                            
                            </div>
                            <div class="th header">
                                Like
                            </div>
                            <div class="th placeholder">
                            </div> 
                            <div class="th header">
                                Tech
                            </div>
                            <div class="th placeholder">
                            
                            </div>
                            <div class="th header">
                                Schd
                            </div>
                            <div class="th placeholder">
                            
                            </div>
                            <div class="th header">
                                Cost
                            </div>
                            <div class="th placeholder">
                            
                            </div>
                            <div class="th header">
                                Save
                            </div>
                            <div class="th placeholder">
                            
                            </div>
                            <div class="th header">
                                 Remove
                            </div>
                    </div>
                    <div class="tr" ng-repeat="event in [0]">
                        <div class="td header">
                            <div class="widthAuto">ID</div>
                        </div>
                        <div class="td left value">
                            <div class="left widthAuto">{{event}}</div>
                        </div> 
                        <div class="td header">
                            <div class="left widthAuto">Event Title</div>
                        </div>
                        <div class="td left value">
                            <div class="widthAuto">Risk Identified</div>
                        </div>
                        <div class="td header">
                            <div class="widthAuto">Owner</div>
                        </div>
                        <div class="td left value">
                            <div class="widthAuto">{{ctrl.risk.ownername}}</div>
                        </div>
                        <div class="td left header">
                            <div class="widthAuto">Actual Date</div>
                        </div>
                        <div class="td left value">
                            <div class="widthAuto">{{ctrl.risk.assessmentdate | date: "M/d/y"}}</div>
                        </div>
                        <div class="td header">
                            <div class="widthAuto">Sched Date</div>
                        </div>
                        <div class="td left value">
                            <div class="widthAuto">{{ctrl.risk.assessmentdate | date: "M/d/y"}}</div>
                        </div>
                        <div class="td header">
                            <div class="width50">Risk Level</div>
                        </div>
                        <div class="td center level value {{ctrl.risk.risklevel.cls}}">
                            <div class="widthAuto"><nobr>{{ctrl.risk.risklevel.level}}</nobr></div> 
                        </div>
                        <div class="td header">
                            <div class="widthAuto">Likelihood</div>
                        </div>
                        <div class="td value center">
                            <div class="widthAuto">{{ctrl.risk.risklevel.likelihood}}</div>
                        </div>
                        <div class="td header">
                            <div class="widthAuto">Technical</div>
                        </div>
                        <div class="td value center" style="text-align: center">
                            <div class="widthAuto">{{ctrl.risk.risklevel.technical}}</div>
                        </div>
                        <div class="td header">
                            <div class="widthAuto">Schedule</div>
                        </div>      
                        <div class="td value center" style="text-align: center">
                           <div class="widthAuto">{{ctrl.risk.risklevel.schedule}}</div>
                        </div>
                        <div class="td header">
                            <div class="widthAuto">Cost</div>
                        </div>
                        <div class="td value center">
                           <div class="widthAuto">{{ctrl.risk.risklevel.cost}}</div>
                        </div>
                        <div class="td header">
                           <div class="widthAuto">Save</div>
                        </div>
                        <div class="td value">
                            <div></div>
                        </div>
                        <div class="td header">
                           <div>Remove</div>
                        </div>
                        <div class="td value">
                            <div></div>
                        </div>
                    </div>
                    <div class="tr" ng-repeat="event in [1,2,3,4,5]" ng-if="ctrl.eventsdone">
                        <div class="td header">
                            ID
                        </div>
                        <div class="td value">
                            {{event}}
                        </div>
                        <div class="td header">
                            Event Title
                        </div>
                        <div class="td value">
                            <input type="text" class="title" />
                        </div>
                        <div class="td header">
                            Owner
                        </div>
                        <div class="td value">
                                 <ui-select ng-model="ctrl.evts[event].ownwerid" theme="select2" ng-disabled="ctrl.disabled" title="Choose a person">
                                    <ui-select-match placeholder="Select/Search User">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="user.id as user in ctrl.users | propsFilter: {name: $select.search}">
                                      <div ng-bind-html="user.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                        </div>
                        <div class="td header">
                            Actual Date
                        </div>
                        <div class="td value">
                           <!--input type='text' id="actual{{event}}"  class="datepicker-here" data-language='en' /--> 
                                <p class="input-group">
                                  <input type="text" class="actual date-input" uib-datepicker-popup="MM/dd/yyyy" ng-model="ctrl.event[event].actualdate" is-open="ctrl.actual[event].opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-secondary" ng-click="ctrl.openActual(event)">
                                      <i class="fa-svg-icon">
                                        <svg style="left: -11px; top: -8px" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z"/></svg>
                                      </i>
                                    </button>
                                  </span>
                                </p> 
                        </div>
                        <div class="td header">
                            Sched Date
                        </div>
                        <div class="td value">
                         <!--input type='text' id="schedule{event}}" class="datepicker-here" data-language='en' /-->                    
                                <p class="input-group">
                                  <input type="text" class="schedule date-input" uib-datepicker-popup="M/dd/yyyy" ng-model="ctrl.event[event].scheduledate" is-open="ctrl.schedule[event].opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-secondary" ng-click="ctrl.openSchedule(event)">
                                      <i class="fa-svg-icon">
                                        <svg style="left: -11px; top: -8px" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z"/></svg>
                                      </i>
                                    </button>
                                  </span>
                                </p>
                        </div>
                        <div class="td header">
                            Level
                        </div>
                        <div name="level" evt="{{event}}" class="td value level{{event}}">
                        
                        </div>
                        <div class="td header">
                            Likelihood
                        </div>
                        <div class="td value center">
                            <input class="level" type="text"></input>
                        </div>         
                        <div class="td header">
                            Technical
                        </div>                                                                                                                
                        <div class="td value center">
                           <input class="level" type="text"></input>
                        </div>
                        <div class="td header">
                            Schedule
                        </div>
                        <div class="td value center">
                             <input class="level" type="text"></input>
                        </div>
                        <div class="td header">
                            Cost
                        </div>
                        <div class="td value center">
                             <input class="level" type="text"></input>
                        </div>
                        <div class="td header">
                            Save
                        </div>
                        <div class="td value">
                         <input class="addEvent" type="button" id="add{{event}}" ng-model="ctrl.showAddButton" ng-show="(event != 5 || ctrl.hideButton == false) && ((ctrl.complete[event].value && event == (ctrl.lastEventIdSaved+1)) || (event == 5 && ctrl.lastEventIdSaved == event && ctrl.showAddButton.value == true))" ng-click="ctrl.add(event); ctrl.doRemoveAdd[event+1] == true && ctrl.removeAdd(event+1)" ng-keyup="$event.keyCode === 13 && ctrl.add(event); $event.keyCode === 13 && ctrl.doRemoveAdd[event+1] == true && ctrl.removeAdd(event+1)" value="Save">
                        </div>                                                                                                                                                                                                                                                                                                                             
                        <div class="td header">
                            Remove
                        </div>
                        <div class="td value">
                           <input class="removeEvent" type="button" id="remove{{event}}" ng-show="event == ctrl.lastEventIdSaved+1 || (event == ctrl.lastEventIdSaved && event == 5 && ctrl.complete[event].value)" ng-click="ctrl.remove(event); ctrl.showAddButton.value = true" ng-keyup="$event.keyCode === 13 && ctrl.remove(event)"  value="Remove">
                        </div>  
                    </div>
                    <br /> 
                </div>
            </div>
            <div class="center">  
             <button id="submit" type="submit">Save Events</button>
            </div>
           </form>               
         </div> 
         <divider></divider>
          <div class="msg" layout-align="center">
            <span ng-bind-html="msg">{{msg}}</span>
          </div>
    </div> 
    <init-risk />  
</div>
    