<div id="formcontainer"  ng-app="Risk" ng-controller="EditRiskController as ctrl">
    <get-risk></get-risk>
    <div ng-if="ctrl.initDone && ctrl.userDone" id="myeditform" type="space" layout-padding="" ng-cloak="">   
        <form id="form" name="EditRisk" role="form" ng-submit="ctrl.valid() && ctrl.submit()" novalidate>
            <div class="layout">
                    <table id="summary" class="layout" border="1">
                        <tr>
                            <td class="label">Risk #</td>
                            <td class="locked">{{ctrl.risk.riskid}}</td>
                            <td class="label">
                                Current Risk Level
                            </td>
                            <td  class="locked {{ctrl.risk.risklevel.cls}}">
                                {{ctrl.risk.risklevel.level}}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                Owner
                            </td>
                            <td class="locked">
                               <div ng-show="ctrl.config.owner.done" ng-model="ctrl.risk.owner" config="owner" webix-ui="owner" id="owner" width="200" height="30" name="owner" options="users" type="richselect" />
                            </td>
                            <td class="label">
                                Risk State
                            </td>
                            <td class="locked">
                               Open
                            </td>
                        </tr>
                         <tr>
                            <td class="label">
                                Creator
                            </td>
                            <td class="locked">
                                Admin
                            </td>
                            <td class="label">
                                Risk Approver
                            </td>
                            <td class="locked">
                               <div  ng-show="ctrl.config.approver.done" ng-model="ctrl.risk.approver" config="approver" webix-ui="approver" id="approver" width="200" height="30" name="approver" options="users" type="richselect" />
                            </td>
                        </tr>
                    </table>
                    <br />
                    
                    <h2>Risk Information</h2>
                    <table id="details" class="layout" border="1">
                        <tr>
                            <td class="label" style="vertical-align: top">
                                Title
                            </td>
                            <td class="locked">
                                <div  ng-show="ctrl.config.risktitle.done" ng-model="ctrl.config.risktitle" config="risktitle" webix-ui="risktitle" width="500" height="30" type="text" id="risktitle" name="risktitle"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label" style="vertical-align: top">
                                Risk Statement
                            </td>
                            <td  class="locked" style="vertical-align: top">
                                <div  ng-show="ctrl.config.riskstatement.done" config="riskstatement" webix-ui="riskstatement" width="500" height="97" type="textarea" id="riskstatement" name="riskstatement"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label" style="vertical-align: top">
                                Context
                            </td>
                            <td  class="locked" style="vertical-align: top">
                                 <div  ng-show="ctrl.config.context.done" config="context" webix-ui="context" width="500" height="97" type="textarea" id="context" name="context"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label" style="vertical-align: top">
                                Closure Criteria
                            </td>
                            <td  class="locked" style=" vertical-align: top">
                                 <div  ng-show="ctrl.config.closurecriteria.done" config="closurecriteria" webix-ui="closurecriteria" width="500" height="97" type="textarea" id="closurecriteria" name="closurecriteria"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label" style="vertical-align: top">
                                Owner Notes
                            </td>
                            <td  class="locked" style=" vertical-align: top">
                                 <!--div ng-show="ctrl.config.ownernotes.done" config="ownernotes" webix-ui="ownernotes" width="500" height="97" type="textarea" id="ownernotes" name="ownernotes"></div-->
                            </td>
                        </tr>
                        <tr>
                            <td class="label" style="vertical-align: top">
                                Approver Comments
                            </td>
                            <td  class="locked" style=" vertical-align: top">
                                <!--div ng-show="ctrl.config.approvercomments.done" config="approvercomments" webix-ui="approvercomments" width="500" height="97" type="textarea" id="approvercomments" name="approvercomments"></div-->
                            </td>
                        </tr>
                    </table>
                   <div>
                   <button id="submit" type="submit">Edit Risk</button>
            </div>       
        </form>
            <br />
         <form id="formEvt" name="EditEvents" role="form" ng-submit="ctrl.saveEvents()" novalidate>  
            <table cellpadding='0' cellspacing='0' class="events table-condensed" border=1>
                <thead>
                    <tr>
                            <th class="placeholder">
                            
                            </th>
                            <th>
                                #
                            </th>
                            <th class="placeholder">
                            
                            </th>
                            <th>
                                Event Title
                            </th>
                            <th class="placeholder">
                            
                            </th>
                            <th>
                                Event Owner
                            </th>
                            <th class="placeholder">
                            
                            </th>
                            <th>
                                Actual Date
                            </th>
                            <th class="placeholder">
                            
                            </th>
                            <th>
                                Schedule Date
                            </th>
                            <th class="placeholder">
                            
                            </th>
                            <th>
                                Risk
                            </th>
                            <th class="placeholder">
                            
                            </th>
                            <th>
                                Like
                            </th>
                            <th class="placeholder">
                            </th> 
                            <th>
                                Tech
                            </th>
                            <th class="placeholder">
                            
                            </th>
                            <th>
                                Schd
                            </th>
                            <th class="placeholder">
                            
                            </th>
                            <th>
                                Cost
                            </th>
                            <th class="placeholder">
                            
                            </th>
                            <th>
                                 &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;
                            </th>
                            <th class="placeholder">
                            
                            </th>
                            <th>
                                 &nbsp;Remove&nbsp;&nbsp;
                            </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in [0]">
                        <td class="header">
                            <div class="width200">ID</div>
                        </td>
                        <td class="left value">
                            <div class="left width200">{{event}}</div>
                        </td> 
                        <td class="header">
                            <div class="left width200">Event Title</div>
                        </td>
                        <td class="left value">
                            <div class="width200">Risk Identified</div>
                        </td>
                        <td class="header">
                            <div class="width200">Owner</div>
                        </td>
                        <td class="left value">
                            <div class="width200">{{ctrl.risk.ownername}}</div>
                        </td>
                        <td class="left header">
                            <div class="width200">Actual Date</div>
                        </td>
                        <td class="left value">
                            <div class="width200">{{ctrl.risk.assessmentdate | date: "M/d/y"}}</div>
                        </td>
                        <td class="header">
                            <div class="width200">Schedule Date</div>
                        </td>
                        <td class="left value">
                            <div class="width200">{{ctrl.risk.assessmentdate | date: "M/d/y"}}</div>
                        </td>
                        <td class="header">
                            <div class="width200">Risk Level</div>
                        </td>
                        <td class="center level value {{ctrl.risk.risklevel.cls}}">
                            <div class="width200"><nobr>{{ctrl.risk.risklevel.level}}</nobr></div> 
                        </td>
                        <td class="header">
                            <div class="width200">Likelihood</div>
                        </td>
                        <td class="value center">
                            <div class="width200">{{ctrl.risk.risklevel.likelihood}}</div>
                        </td>
                        <td class="header">
                            <div class="width200">Technical</div>
                        </td>
                        <td class="value center" style="text-align: center">
                            <div class="width200">{{ctrl.risk.risklevel.technical}}</div>
                        </td>
                        <td class="header">
                            <div class="width200">Schedule</div>
                        </td>
                        <td class="value center" style="text-align: center"></div>
                           <div class="width200">{{ctrl.risk.risklevel.schedule}}
                        </td>
                        <td class="header">
                            <div class="width200">Cost</div>
                        </td>
                        <td class="value center">
                           <div class="width200">{{ctrl.risk.risklevel.cost}}</div>
                        </td>
                        <td class="header">
                           <div class="width200">Save</div>
                        </td>
                        <td class="value">
                            <div class="width200"></div>
                        </td>
                        <td class="header">
                           <div class="width200">Remove</div>
                        </td>
                        <td class="value">
                            <div class="width200"></div>
                        </td>
                    </tr>
                    <tr ng-repeat="event in [1,2,3,4,5]" ng-if="ctrl.eventsdone">
                        <td class="header">
                            ID
                        </td>
                        <td class="value">
                            {{event}}
                        </td>
                        <td class="header">
                            Event Title
                        </td>
                        <td class="value">
                            <div  input="eventtitle" event="{{event}}" class="evt{{event}}"  enabled="{{ctrl.enabledItem[event] || ctrl.lastEventIdSaved == event - 1}}" ng-show="ctrl.config.eventtitle{{event}}.done"  config="eventtitle{{event}}" webix-ui="eventtitle{{event}}" width="200" height="30" type="text" id="eventtitle{{event}}" name="eventtitle[{{event}}]"></div>
                        </td>
                        <td class="header">
                            Owner
                        </td>
                        <td class="value">
                            <div  input="ownerid" event="{{event}}" class="evt{{event}}" enabled="{{ctrl.enabledItem[event] || ctrl.lastEventIdSaved == event - 1}}" ng-show="ctrl.config.owner{{event}}.done" ng-model="ctrl.risk.owner[event]" config="owner{{event}}" webix-ui="owner{{event}}" id="owner{{event}}" width="200" height="30" name="owner[{{event}}]" options="users" type="richselect" />
                        </td>
                        <td class="header">
                            Actual Date
                        </td>
                        <td class="value">
                            <div  input="actualdate" event="{{event}}" class="evt{{event}}"  enabled="{{ctrl.enabledItem[event] || ctrl.lastEventIdSaved == event - 1}}" ng-show="ctrl.config.actualdate{{event}}.done" config="actualdate{{event}}" webix-ui="actualdate{{event}}" id="actualdate{{event}}" width="200" height="30" name="actualate[{{event}}]" type="datepicker" category="actual" />
                        </td>
                        <td class="header">
                            Schedule Date
                        </td>
                        <td class="value">
                            <div  input="scheduledate" event="{{event}}" class="evt{{event}}" enabled="{{ctrl.enabledItem[event] || ctrl.lastEventIdSaved == event - 1}}" ng-show="ctrl.config.scheduledate{{event}}.done" config="scheduledate{{event}}" webix-ui="scheduledate{{event}}" id="scheduledate{{event}}" width="200" height="30" name="scheduledate[{{event}}]" type="datepicker" category="schedule" />
                        </td>
                        <td class="header">
                            Level
                        </td>
                        <td name="level" evt="{{event}}" class="level{{event}}">
                        
                        </td>
                        <td class="header">
                            Likelihood
                        </td>
                        <td class="value center">
                           <div input="scheduledlikelihood"  maxlength="1" event="{{event}}" evt="{{event}}" class="evt{{event}}" enabled="{{ctrl.enabledItem[event] || ctrl.lastEventIdSaved == event - 1}}" ng-show="ctrl.config.likelihood{{event}}.done" type="level" category="event" config="likelihood{{event}}" webix-ui="likelihood{{event}}" width="30" height="30" type="text" id="likelihood{{event}}" name="likelihood[{{event}}]"></div>
                        </td>         
                        <td class="header ">
                            Technical
                        </td>                                                                                                                
                        <td class="value center">
                            <div   input="scheduledtechnical"  maxlength="1" event="{{event}}" evt="{{event}}" class="evt{{event}}" enabled="{{ctrl.enabledItem[event] || ctrl.lastEventIdSaved == event - 1}}" ng-show="ctrl.config.technical{{event}}.done"  type="level" category="event" config="technical{{event}}" webix-ui="technical{{event}}" width="30" height="30" type="text" id="technical{{event}}" name="technical[{{event}}]"></div>
                        </td>
                        <td class="header">
                            Schedule
                        </td>
                        <td class="value center">
                            <div  input="scheduledschedule"  maxlength="1" event="{{event}}" evt="{{event}}" class="evt{{event}}" enabled="{{ctrl.enabledItem[event] || ctrl.lastEventIdSaved == event - 1}}" ng-show="ctrl.config.schedule{{event}}.done"  type="level" category="event" config="schedule{{event}}" webix-ui="schedule{{event}}" width="30" height="30" type="text" id="schedule{{event}}" name="schedule[{{event}}]"></div>
                        </td>
                        <td class="header">
                            Cost
                        </td>
                        <td class="value center">
                            <div  input="scheduledcost" maxlength="1"  event="{{event}}" evt="{{event}}" class="evt{{event}}" enabled="{{ctrl.enabledItem[event] || ctrl.lastEventIdSaved == event - 1}}" ng-show="ctrl.config.cost{{event}}.done"  type="level" category="event" config="cost{{event}}" webix-ui="cost{{event}}" width="30" height="30" type="text" id="cost{{event}}" name="cost[{{event}}]"></div>
                        </td>
                        <td class="header">
                            Save
                        </td>
                        <td class="value">
                         <input class="addEvent" type="button" id="add{{event}}" ng-model="ctrl.showAddButton" ng-show="(event != 5 || ctrl.hideButton == false) && ((ctrl.complete[event].value && event == (ctrl.lastEventIdSaved+1)) || (event == 5 && ctrl.lastEventIdSaved == event && ctrl.showAddButton.value == true))" ng-click="ctrl.add(event); ctrl.doRemoveAdd[event+1] == true && ctrl.removeAdd(event+1)" ng-keyup="$event.keyCode === 13 && ctrl.add(event); $event.keyCode === 13 && ctrl.doRemoveAdd[event+1] == true && ctrl.removeAdd(event+1)" value="Save">
                        </td>                                                                                                                                                                                                                                                                                                                             
                        <td class="header">
                            Remove
                        </td>
                        <td class="value">
                           <input class="removeEvent" type="button" id="remove{{event}}" ng-show="event == ctrl.lastEventIdSaved+1 || (event == ctrl.lastEventIdSaved && event == 5 && ctrl.complete[event].value)" ng-click="ctrl.remove(event); ctrl.showAddButton.value = true" ng-keyup="$event.keyCode === 13 && ctrl.remove(event)"  value="Remove">
                        </td>  
                    </tr> 
                </tbody>
            </table>  
             <button id="submit" type="submit">Save Events</button>
           </form>               
         </div> 
         <divider></divider>
          <div class="msg" layout-align="center">
            <span ng-bind-html="msg">{{msg}}</span>
          </div>
    </div> 
    <init-risk />  
</div>
    