<div class="container-fluid">
    <div ng-controller="RiskSummaryController" ng-app="Risk" ng-init="init()">
        Risks
        <div class="tableheader">
        <table class="table-striped table-condensed table-bordered sortable grid risks"> <!--datatable="" dt-options="dtOptions"-->
             <thead>
                <tr>  
                    <th>
                        Edit
                    </th>
                    <th ng-click="sort('riskid')" ng-class="{reverse: reverse}">
                        ID                       
                    </th>
                    <th ng-click="sort('risktitle')" ng-class="{reverse: reverse}">
                        Risk Title 
                    </th>
                    <th ng-click="sort('creationdate')" ng-class="{reverse: reverse}">
                        Creation Date
                    </th>
                    <th ng-click="sort('assignor')" ng-class="{reverse: reverse}">
                        Assignor
                    </th>
                    <th ng-click="sort('owner')" ng-class="{reverse: reverse}">
                        Owner
                    </th>
                    <th ng-click="sort('approver')" ng-class="{reverse: reverse}">
                        Approver
                    </th>
                    <th ng-click="sort('likelihood')" ng-class="{reverse: reverse}">
                        Like
                    </th>
                    <th ng-click="sort('technical')" ng-class="{reverse: reverse}">
                        Tech
                    </th>
                    <th ng-click="sort('schedule')" ng-class="{reverse: reverse}">
                        Sched
                    </th>
                    <th ng-click="sort('Cost')" ng-class="{reverse: reverse}">
                        Cost
                    </th>              
                </tr>
             </thead> 
        </table>
        </div>
        <div class="tablebody">
            <table class="table-striped table-condensed table-bordered grid risks">
                <tbody init-risk-table>
                </tbody>
            </table>
        </div>
    </div>
    <divider></divider>
      <div class="msg" layout-align="center">
        <span ng-bind-html="msg">{{msg}}</span>
      </div>
</div>

