<div id="formcontainer" ng-app="Risk" ng-controller="RiskMatrixConfigController" ng-init="init()">
    <form webix-ui="config" id="form" name="RiskMatrixConfig" role="form" ng-submit="valid() && submit()" novalidate>
    <div id="riskmatrixconfig" class="container" type="space" layout-padding="" ng-cloak="">   
    <table id="riskthesholds">
        <tr>
            <td>Risk Maximum</td>
            <td><input type="text" name="riskmax" ng-model="risklevels.riskmaximum" ng-value="risklevels.riskmaximum" /></td>
        </tr>
        <tr>
            <td>Risk High</td>
            <td><input type="text" name="riskmax" ng-model="risklevels.riskhigh" ng-value="risklevels.riskhigh" /></td>
        </tr>
        <tr>
            <td>Risk Medium</td>
            <td><input type="text" name="riskmed" ng-model="risklevels.riskmedium" ng-value="risklevels.riskmedium"  /></td>
        </tr> 
         <tr>
            <td>Risk Minimum</td>
            <td><input type="text" name="riskmin" ng-model="risklevels.riskminimum" ng-value="risklevels.riskminimum" /></td>
        </tr>
    </table>
    <input type="button" value="Update" ng-click="load()" name="updatematrix" />
     <table id="riskmatrix" class="ng-scope">
        <tbody>
            <tr ng-repeat="likelihood in [5,4,3,2,1]" class="ng-scope">
               <td ng-if="likelihood == 5" rowspan="2"></td>
                <td ng-if="likelihood == 3" rowspan="5" class="ng-scope" style="border:none">
                    <div class="vlabelconfig">Likelihood</div>
                </td>
                <td class="no-border">
                    <div class="likelihood ng-binding">{{likelihood}}</div>
                </td>
            
                <td ng-repeat="consequence in [1,2,3,4,5]" class="ng-scope" ng-init="$last && initMatrix()">
                    <div ng-class="getLevel(risk[likelihood][consequence],likelihood,consequence).cls"></div><br/>
                    <input class="risklevel" type="text" ng-model="risk[likelihood][consequence]" ng-value="risk[likelihood][consequence]" name="risk[{{likelhood}}][{{consequence}}]" />
                </td>
            </tr>                
            <tr class="ng-scope"></tr>
        <td></td>
        <td ng-repeat="consequence in [1,2,3,4,5]" class="ng-binding ng-scope">{{consequence}}</td>
        </tr>
           <tr>
             <td></td>
             <td></td>
             <td colspan="5" class="consequence">Consequence</td> 
          </tr>
    </tbody></table>
    <input type="button" value="Save" ng-click="save()" name="savematrix" />
    </form>
    </div>
     <divider></divider>
      <div class="msg" layout-align="center">
        <span ng-bind-html="msg">{{msg}}</span>
      </div>
    <config-matrix />
</div> 
