body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #004756;
    color: #fff;
}
.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
    background: #ffffff !important;
    padding: 10px;
}

.dc-chart .pie-slice{
    fill: #000;
    font-weight: bold;
}

text .pie-label{
    font-size: 15px;
}

.gridster{
    background: none;
}

.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 20px;
}
ul {
    list-style: none;
    padding-left: 0px;
}
.box {
    height: 75%;
    border: 1px solid #ccc;
    background-color: #fff;
}
.box-header {
    background-color: #eee;
    padding: 0 30px 0 10px;
    border-bottom: 1px solid #ccc;
    cursor: move;
    position: relative;
}
.box-header h3 {
    margin-top: 10px;
    display: inline-block;
}
.box-content {
    padding: 10px;
}
.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
form {
    margin-bottom: 0;
}
.gridster {
    border: 1px solid #ccc;
    background:  lightgrey;
}

#risk-chart.dc{
    margin: 0 auto;
}

.svg-container svg > g{
    display: inline-block;
    margin: 0 auto;
}

li{
    color: black;
}


.stack._0 rect {
    fill: #dd0000 !important;
    stroke: none;
}

.stack._1 rect {
    fill: #dddd00 !important;
    stroke: none;
}

.stack._2 rect {
    fill: #00b050 !important;
    stroke: none
}

.stack._3 rect {
    fill: #deebf7 !important;
    stroke: none
}


.dc-legend .dc-legend-item:nth-child(1) rect{
    fill: #dd0000;
}


.dc-legend .dc-legend-item:nth-child(2) rect{
    fill: #dddd00;
}


.dc-legend .dc-legend-item:nth-child(3) rect{
    fill: #00b050;
}


.dc-legend .dc-legend-item:nth-child(4) rect{
    fill: #deebf7;
}

 #risk-cycle-chart {
    width:100%;

    /* flexbox specific properties */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    background:black;
}

#risk-cycle-chart div{
  flex:1;
  height:20px;
  transition: opacity .5s linear;
}

#risk-cycle-chart div.deselected {
  opacity:0.6;
}






/**
 * Demo styles
 * Not needed for tooltips to work
 * http://cbracco.me/a-simple-css-tooltip/
 */

/* `border-box`... ALL THE THINGS! */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


a:hover {
  text-decoration: none;
}



/**
 * Tooltip Styles FROM http://cbracco.me/a-simple-css-tooltip/
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
