body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #004756;
    color: #fff;
}
.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
    background: #fefefe !important;
    padding: 10px;
}

.dc-chart .pie-slice{
    fill: #000;
    font-weight: bold;
}

text .pie-label{
    font-size: 15px;
}

.gridster{
    background: none;
}

.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 20px;
}
ul {
    list-style: none;
    padding-left: 0px;
}
.box {
    height: 75%;
    border: 1px solid #ccc;
    background-color: #fff;
}
.box-header {
    background-color: #eee;
    padding: 0 30px 0 10px;
    border-bottom: 1px solid #ccc;
    cursor: move;
    position: relative;
}
.box-header h3 {
    margin-top: 10px;
    display: inline-block;
}
.box-content {
    padding: 10px;
}
.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
form {
    margin-bottom: 0;
}
.gridster {
    border: 1px solid #ccc;
    background:  lightgrey;
}

#risk-chart.dc{
    margin: 0 auto;
}

.svg-container svg > g{
    display: inline-block;
    margin: 0 auto;
}

li{
    color: black;
}


.stack._0 rect {
    fill: #dd0000 !important;
    stroke: none;
}

.stack._1 rect {
    fill: #dddd00 !important;
    stroke: none;
}

.stack._2 rect {
    fill: #00b050 !important;
    stroke: none
}

.stack._3 rect {
    fill: #deebf7 !important;
    stroke: none
}


.dc-legend .dc-legend-item:nth-child(1) rect{
    fill: #dd0000;
}


.dc-legend .dc-legend-item:nth-child(2) rect{
    fill: #dddd00;
}


.dc-legend .dc-legend-item:nth-child(3) rect{
    fill: #00b050;
}


.dc-legend .dc-legend-item:nth-child(4) rect{
    fill: #deebf7;
}

td{
    font-size: 7.5pt;
}

div.tableDiv {
   overflow-y: auto;
   overflow-x: auto; 
}

br {
   width: 100% !important;
   display: block !important; 
}



#riskmatrix {
    display: table !important;
}

#riskmatrix td:not(:first-child){
    width: 42px !important;
    height: 42px !important;
    min-width: 42px !important;
    min-height: 42px !important;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 2px;
}

#riskmatrix {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

#riskmatrix tr td:first-child {
    max-width: 5px !important;
    width: 5px;
    text-align: right !important;
}  


#riskmatrix tr:nth-child(2) td{
    max-height: 5px !important;
    height: 5px;
}


#riskmatrix tr:nth-child(6) td,
#riskmatrix tr:nth-child(7) td{
    padding-top: 10px;
}

#riskmatrix tr td:first-child{
    border: none;
}

#riskmatrix tr td:nth-child(2){
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;  
}
#riskmatrix tr:not(:last-child):not(:nth-last-child(2)) td:not(:first-child):not(:nth-child(2)){
    background-color: #eeeeee;
}

#riskmatrix tr:first-child td:first-child{
    border: none;
}

#riskmatrix tr:first-child td:nth-child(2){
    border: none;
}

#riskmatrix tr:last-child td{
    border: none;
}
#riskmatrix tr:nth-last-child(2) td{
    border: none;
}
 
.risklevel{
    min-width: 37px !important;
    width: 37px !important;
    font-size: 12px;
    padding-left: 2px;
}  

.leveltext{
    text-align: center;
}                   
                
.evt{           
    margin: 0 auto;
    position: relative;
    width: 5px;
    height: 5px;
    background-color: black;
}

td.low, td.med, td.high{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

                     
#riskmatrix td:first-child{
    max-width: 0px !important;
    width: 0px !important;
}
#riskmatrix tr:last-child td,
#riskmatrix tr:nth-last-child(2) td
{
    height: 20px !important;
}
 
div.low{
    background-color: #00b050 !important;    
}
div.med{
    background-color: #eeee00 !important;
}
div.high{
    background-color: #ee0000 !important;
}

div.level{
    margin: 0 auto;
}

#risk-matrix-chart #riskmatrix *{
    font-size: 14pt;
}