<div class="container-fluid">
    <div ng-controller="RiskSummaryController" ng-app="Risk">
        <get-risks></get-risks>
        <h1> <i class="glyphicon glyphicon-fire"></i> Pageable</h1>
        <hr />
        <div class="panel panel-default" data-nq-pageable="tableScroller" data-qo-alias="risks" data-qo-pageable-model="tableScroller"
             data-qo-selectable="true" data-on-refresh="tableScroller.refresh()">
            <div class="panel-heading clearfix">
                <!--add nq-paging-sizes directive where you want and how many you want-->
                <div class="pull-right" data-nq-paging-sizes=""></div>
                <!--add nq-table-search directive where you want and how many you want-->
                <div class="pull-right" data-nq-table-search="" data-search-fields="risk.riskid,risk.risktitle,risk.risklevel.level,risk.assessmentdate,risk.creator,risk.owner,risk.approver" style="margin-right:20px;"></div>
                <h2 class="panel-title pull-left"><i class="fic glyphicon glyphicon-user"></i> Contacts</h2>
                <div class="pull-left" style="padding-left:15px;">
                    <button type="button" class="btn btn-xs btn-info" ng-click="risks.refresh()"><i class="fic glyphicon glyphicon-refresh"></i> Refresh</button>
                </div>
                <div class="pull-left" style="padding-left:15px;">
                    <button type="button" class="btn btn-xs btn-primary" data-nq-show-insert=""><i class="fic glyphicon glyphicon-plus-sign"></i> Add New</button>
                </div>
                <div class="pull-left" style="padding-left:15px;">
                    <button type="button" class="btn btn-xs btn-danger" ng-click="risks.removeRows()"><i class="fic glyphicon glyphicon-remove-circle"></i> Remove</button>
                </div>
            </div>
             <div class="panel-body table-responsive" data-nq-scroll="risks" data-qo-max-height="350px" data-qo-bar-offset="40" data-bar-model="tableScroller" style="overflow:hidden;">
                <table class="table table-bordered table-hover bg-white">
                    <!--nq-fix-table-scroll class would fix thead always visible at top of the table if you put the table into a scrollable container-->
                    <thead class="nq-fix-table-scroll">
                        <tr>
                            <!--nq-column-sort directive would bind sorting handler to the element-->
                            <th data-use-template="true">Edit</th>
                            <th data-use-template="true">ID</th>
                            <th class="col-xs-2">Risk</th>
                            <th class="col-xs-2">Risk Title</th>
                            <th class="col-xs-3">Creation Date</th>
                            <th class="col-xs-2" >Assignor</th>
                            <th class="col-xs-1" >Owner</th>
                            <th class="col-xs-2">Approver</th>
                        </tr>
                    </thead>
                    <tbody class="flattened">
                        <!--pageable-repeat is required sub directive-->
                        <tr class="" data-pageable-repeat="risk in risks track by $index">
                           <td><a ui-sref="risk@edit({id: risk.riskid})">Edit</a></td> 
                           <td><a ui-sref="risk@view({id: risk.riskid})">{{risk.riskid}}</a></td> 
                           <td>{{risk.risktitle}}</td>
                           <td class="{{risk.risklevel.cls}}">{{risk.risklevel.level}}</td>
                           <td>{{risk.assessmentdate | date : 'MM/dd/yyyy'}}</td> 
                           <td>{{risk.creator}}</td> 
                           <td>{{risk.owner}}</td>
                           <td>{{risk.approver}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-footer clearfix">
                <div class="row">
                    <div class="col-sm-6">
                        <!--add data-nq-pageable-results directive where you want and how many you want-->
                        <div data-nq-pageable-results=""></div>
                    </div>
                    <div class="col-sm-6">
                        <!--add nq-pagination directive where you want and how many you want-->
                        <div data-nq-pagination="" class="pull-right no-margin"></div>
                    </div>
                </div>

            </div>
        </div>
         <divider></divider>
        <div class="msg" layout-align="center">
            <span ng-bind-html="msg">{{msg}}</span>
        </div>
    </div>
</div>