html{
    overflow-y: overlay;
}

td.left *{
    text-align: left;
}

td.center input{
    text-align: center !important;
}

img#logo{
    width: 200px !important;
    max-width: 75vw !important;
}

body{
    /*font-family: arial !important;*/
    font-family: Roboto, sans-serif !important;
    /* font-size: 14px; */
}

body *{
    margin: 0 auto;
}
   
h2, div{
    text-align: center;
}
                     
.webcal_cal_header{  
    margin: 0 auto;
}

div.webix-control{
    margin: 0px !important;
}

.msg-container{
    height: 30px !important;
}
.nav-link{
    background-color: #0038a8 !important;
}

td.red{
    background-color: #00b050;
}

td.yellow{
    background-color: #eeee00;
}

td.green{
    background-color: #ee0000;
}

td.Late{
    color: red;
}

.grid th{
    white-space: nowrap !important;
}

.grid td{
    white-space: nowrap !important;
}

td.label{
    white-space: nowrap !important;
}

div.nested{
    text-align: center !important;
    margin-right:  20px;
} 

.grid th:hover{
    cursor: pointer;
} 

th.placeholder{
    display: none;
}


@media only screen and (max-width: 800px) {
       
           
    div.width200{
        width: 200px !important;  
    }

    table.events tbody tr td.header,
    table.events tbody tr td.value,
    table.events tbody tr td[name="level"]{
        width: 200px !important;
        height: 32px;
    }
    
    div.nested table#details tr:not(:nth-child(2)) td:first-child{
        width: 400px;
    }
    
    div.nested div.info{
        margin-left: 0;
    }
      
    div.nested table#details,
    div.nested div#level{
        width: 151px !important;
        margin-left: 35px;
    }
    
    div#level{
        height: 24px;
        margin-bottom: 10px;
    }

    table#summary td.label,
    table#details td.label,
    table.events td.header{
        background-color: #0038a8 !important;
        font-weight: bold !important;
        font-style: italic !important;
        color: white !important;
        text-align: left !important;
    }    

    /* Force table to not be like tables anymore */    
    table.layout,
    table.layout thead,
    table.layout tbody,
    table.layout tr,
    table.layout th,
    table.layout td,
    table.layout td .webix_view,
    table.layout td .webix_el_box,
    table.layout td .webix_inp_static{
        display: block !important;
        width: 100% !important;
    }

    table.events th{
        display: none !important;
    }
    
    table.events{
        width: 150px;
    }
    
    table.events td.header,
    table.events td{
        display: table-row;
        /* width: 100px; */
    }
    
    
    div.ui-view form {
        width: 95% !important;
        padding: 0px !important;
        /* padding-right: 5vw; */
    }
    
    input, textarea{
        width: 100% !important;
    }                           
     
    table#details tr:not(:first-child) td.label{
        height: 23px !important;
    }
} 
@media only screen and (min-width: 801px){

    div.width200{
        width: auto !important;     
    }
    
    table.events tbody tr td.header{
        display: none !important;
    }   

    table#summary td.label,
    table#details td.label {
        background-color: #0038a8 !important;
        font-weight: bold !important;
        font-style: italic !important;
        color: white !important;
        text-align: left !important;
    }

    div.ui-view,
    div.ui-view table:not(.grid){
        text-align: center;
        margin: 0 auto;
    }
    
    table.layout#details tr:not(:first-child):not(.text) td.read > div
    {
        height: 97px !important;
        max-height: 97px !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
 
    table.layout#details tr:not(:first-child):not(.text) td.label
    {
        padding: 1px;
        height: 97px;
        width: 200px;
    }


    table.layout#details td:nth-child(1){
        width: 150px;
    }

    table.layout#information tr td
    {
        height:  23px !important;
    }
    table.layout#categories tr td
    {
        height: 23px !important;
    }
                      
    table.layout#summary td.locked
    {
        vertical-align: middle !important;
        color: black;
        width: 140px !important;
        text-align: left;
    }


    table.layout#details tr:not(:first-child) .webix_el_textarea,
    table.layout#details tr:not(:first-child):not(.text) td.locked > div{
        height: 97px !important;
    }
                                             
    table.layout#details{
        width: 650px;
        max-width: 650px !important;
    }

    table.layout#summary{
        width: 650px;
        max-width: 750px !important;
    } 
}     


body{
    background-color: rgb(250, 253, 252) !important;  
}

label, span{
    color: black !important;
}


table.xdebug-error *{
    font-size: 12pt !important;
}

table:not(#riskmatrix){
    text-align: left;
}

table.events{
    width: auto;
}
/*Edit Page*/

.webix_list_item:hover{
    background-color: rgb(244, 245, 249);
}
  
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid black; 
}
textarea, input[type=text]
{
    padding: 4px !important;
    width: 100%;
    max-width: auto !important;
    resize: none !important;
    font-family: inherit !important;
}

.webix_cal_day_disabled {
    background-color: #cbcbcd !important;
}

.label{
    vertical-align: top !important;
}

table.nested{
    margin: 0 auto;
}


table.nested table.layout{
    width: 125px !important; 
}

table.nested td{
    vertical-align: top;
}



table.grid{
    width: 100% !important;
}

table.grid td{
    text-align: left;
}



table.grid thead th {
    background-color: #0038a8 !important;
    font-weight: bold !important;
    font-style: italic !important;
    color: white !important;
    text-align: left !important;
}


div.header-fixed {
    width: 100% !important; 
}


div.tableheader{
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}


div.tablebody{
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 450px !important;
    /* margin-right: 17px !important; */
}

table.grid thead th,
table.table-condensed thead th {
    background-color: #0038a8 !important;
    font-weight: bold !important;
    font-style: italic !important;
    color: white !important;
    text-align: left !important;
}
   
table.grid thead tr th:nth-child(1),
table.grid tbody tr td:nth-child(1){
    /* max-width: 51px !important; */
    max-width:  51px !important;
    min-width:  51px !important;
}

table.grid thead tr th:nth-child(2),
table.grid tbody tr td:nth-child(2){
    /* max-width: 51px !important; */
    max-width:  51px !important;
    min-width:  51px !important;
}

table.grid thead tr th:nth-child(3),
table.grid tbody tr td:nth-child(3){
    max-width: 596px !important;
    min-width:  596px !important;
}

table.actionitems thead tr th:nth-child(4),
table.actionitems tbody tr td:nth-child(4){
    max-width: 120px !important;
    min-width: 120px !important;

}


table.risks thead tr th:nth-child(4),
table.risks tbody tr td:nth-child(4){
    max-width: 75px !important;
    min-width: 75px !important;

}



table.actionitems thead tr th:nth-child(5),
table.actionitems tbody tr td:nth-child(5){
    max-width: 100px !important;
    min-width: 100px !important;
}

table.risks thead tr th:nth-child(5),
table.risks tbody tr td:nth-child(5){
    max-width: 185px !important;
    min-width: 185px !important;
}

table.grid thead tr th:nth-child(6),
table.grid tbody tr td:nth-child(6){
    max-width: 185px !important;
    min-width: 185px !important;
  
}

table.grid thead tr th:nth-child(7),
table.grid tbody tr td:nth-child(7){
    max-width: 185px !important;
    min-width: 185px !important;

}


table.actionitems thead tr th:nth-child(8),
table.actionitems tbody tr td:nth-child(8){
    max-width: 185px !important;
    min-width: 185px !important;
}

table.risks thead tr th:nth-child(8),
table.risks tbody tr td:nth-child(8){
    max-width: 185px !important;
    min-width: 185px !important;
}


table.grid thead tr th:nth-child(9),
table.grid tbody tr td:nth-child(9){
    max-width: 185px !important;
    min-width: 185px !important;

}

table.risks thead tr th:nth-child(9),
table.risks tbody tr td:nth-child(9){
    max-width: 60px !important;
    min-width: 60px !important;
}


table.grid thead tr th:nth-child(10),
table.grid tbody tr td:nth-child(10){
    max-width: 130px !important;
    min-width: 130px !important;
  
}

table.risks thead tr th:nth-child(10),
table.risks tbody tr td:nth-child(10){
    max-width: 60px !important;
    min-width: 60px !important;
}
                             

table.grid thead tr th:nth-child(11),
table.grid tbody tr td:nth-child(11){
    max-width: 130px !important;
    min-width: 130px !important;
}

table.risks thead tr th:nth-child(11),
table.risks tbody tr td:nth-child(11){
    max-width: 60px !important;
    min-width: 60px !important;
}

table.grid thead tr th:nth-child(12),
table.grid tbody tr td:nth-child(12){
    max-width: 130px !important;
    min-width: 130px !important;

}

table.grid thead tr th:nth-child(13),
table.grid tbody tr td:nth-child(13){
    max-width: 130px !important;
    min-width: 130px !important;

}

table.grid thead tr th:nth-child(14),
table.grid tbody tr td:nth-child(14){
    max-width: 130px !important;
    min-width: 130px !important;
}


.vlabel {
  /* FF3.5+ */
  -moz-transform: rotate(-90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(-90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(-90.0deg);
  /* IE6,IE7 */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* Standard */
  transform: rotate(-90.0deg);
}

                    
div.nested > div.info,
div.nested > table{
    display: inline-block !important;
    vertical-align: top;
    /* margin: 0 auto !important; */
    /* width:  100%; */
    /* padding-left:  100px; */
}

.margin-left{
    padding-left: 20px !important;
}

.webix_el_counter input.webix_inp_counter_value{
    width: 36px !important;
}


td.low{
    background-color: #00b050 !important;    
}
td.med{
    background-color: #eeee00 !important;
}
td.high{
    background-color: #ee0000 !important;
}

div.center{
    margin: 0 auto;
}


.custom .webix_hcell{
    background-color: #0038a8 !important;
    font-family: arial !important;
    font-weight: bold !important;
    font-style: italic !important;
    color: white !important;
    /* text-align: left !important; */
    border-bottom: black;
}

.custom .webix_column > div{
    border-color: black;
}
.webix_dtable .webix_ss_header td.webix_last_row{
    border-bottom: 1px solid black;
}

.webix-view{
    border-color: black;
}