img#logo{
    width: 200px !important;
}
.msg-container{
    height: 30px !important;
}
html{
    overflow-y: overlay;
    overflow-x: overlay;
}
.nav-link{
    background-color: #0038a8 !important;
}